p{
    color:#a52a2a;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    color: #ff0000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    text-align: center;
    color: #000;
}
a{
    color: rgb(6, 65, 6);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color:#000000;
}
span{
    text-decoration: underline;
}