<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation page</title>
  </head>
  <body>
    <h2>confirm your identity</h2>
    <form>
      <label></label>
    </form>
    <form method="post" action="/user/<%=user.id%>?_method=Delete">
      <input type="text" name="email" placeholder="Enter your email">
      <br />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
      />
      <button>Delete</button>
    </form>
  </body>
</html>
