h1,div,p,input{
 text-align: center;
}
#color-btn{
    margin: auto 0;
}
#color-box{
    height: 100px;
    width: 500px;
    border: solid black;
    margin: 10px auto;
}
.character-box{
    height: 150px;
    width: 500px;
    border: solid black;
    margin: 10px auto;
    padding  :auto;
}
#division{
    height: 100px;
    width: 500px;
    border: solid black;
    margin: 10px auto;
    background-color: brown;
}
ul{
    background-color: bisque;
}
li{
    background-color: chocolate;
}