<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is Home page</h1>
    <h3><%=1+2*6 %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quo dolore
      labore expedita porro tempore repudiandae magnam asperiores eos, nisi
      quis, ratione nostrum?
    </p>
    <button>Click</button>
  </body>
</html>
