<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roll a die</title>
  </head>
  <body>
    <h1>Get a random no <%=rolldie%></h1>
    <% if (rolldie==6){ %>
    <h3>The Dice got 6!! Hurray!!</h3>
    <% } %>
  </body>
</html>
