#box{
    height:150px;
    width:300px;
    background-color:grey;
    border: 5px dotted black  ;
    margin-top:20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}
.div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
ol{
    height: 100px;
    width: 700px;
    font-size: 15px;
    background-color: blueviolet;
}
li{
    height:1.5rem ;
    background-color: rosybrown;
    display: inline;

}
