/* section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
#Id1{
    transform: rotate(45deg);
}
#Id3{
    transform: scale(1.2) translate(300PX);
}
#Id4{
    margin-top: 20px;
    transform:scale(0.5,1.3);
}
#Id2{
    transform: translate(-220px);
}
#Id5{
    transform: skew(30deg);
}
#box{
    box-shadow: 2px 3px 20px gray;
} */
div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("image.jpeg");
    background-size: cover;
    text-align: center;
    color:wheat;
   font-size: 200px;
;}